{{ define "main" }}

<div class="max-w-screen-xl flex flex-col mx-auto px-4 font-gill-sans">

{{ range .Params.sections }}
    <div class="flex flex-col mb-4">
        <h1 class="text-xl font-bold font-franklin-gothic text-teal-700">{{ upper .header }}</h1>
        
        {{ $mbx := 4 }}
        {{ if eq .header "Extracurriculars" }}
            {{ $mbx = 0 }}
        {{ end }}

        <div class="flex flex-col mb-{{$mbx}}">
        {{ if eq .header "Skills" }}
            {{ range .details }}
            <div class="flex flex-col justify-between text-gray-600 mb-2">
                <span class="font-bold">{{ upper .name }}</span>
                <span>{{ .duties | markdownify }}</span>
            </div>
            {{ end }}    
        {{ else }}
            {{ range .details }}
                <div class="flex md:flex-row flex-col justify-between text-gray-600">
                    <span class="font-bold">{{ upper .subtitle }}</span>
                    <span>{{ .location }}</span>
                </div>
                <div class="flex md:flex-row flex-col justify-between text-gray-600">
                    <span class="">{{ .name }}</span>
                    <span>{{ .date }}</span>
                </div>
                {{ if .duties }}
                <ul class="p-2 list-disc list-inside lg:max-w-4xl lg:justify-center">
                    {{ range .duties }}
                    <li class="pb-1">
                        <span class="text-gray-900">{{ . | markdownify  }}</span>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            {{ end }}
        {{ end }}
        </div>

    </div>
{{ end }}

</div>

{{ end }}